<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="vocabbody">
    <nav>
        <button class="vocabbutton"> <a href="/concepts">Cancel</a> </button>
    </nav>
    <div class="main vocabmain">
        <h2>Add New Word</h2>
        <form action="/vocab" method="post">
            <input type="text" name="word" placeholder="Word as it is Commonly Written" class="vpal" /><br/>
            <input type="text" name="kana" placeholder="Word in Kana"/ class="vpal" ><br/>
            <input type="text" name="engMeaning" placeholder="Word in English" class="vpal" /><br/>
            <input type="text" name="partOfSpeech" placeholder="Part of Speech" class="vpal" /><br/>
            <input type="text" name="exampleSentence" placeholder="Example Sentence" class="vpal" /><br/>
            <input type="text" name="sentenceMeaning" placeholder="Example Sentence in English" class="vpal" /><br/>
             <input type="submit" name="" value="Add Word" class="vocabbutton"/>
        </form>
    </div>
</body>
</html>